@fontBaseUrl : '../assets/fonts';

.setFontFace(@fontId, @fontName:@fontId, @fontWeight: normal, @fontStyle: normal){
  @font-face {
    font-family: @fontId;
    src: url('@{fontBaseUrl}/@{fontName}.eot');
    src: url('@{fontBaseUrl}/@{fontName}.eot?#iefix') format('embedded-opentype'),
    url('@{fontBaseUrl}/@{fontName}.woff') format('woff'),
    url('@{fontBaseUrl}/@{fontName}.ttf') format('truetype'),
    url('@{fontBaseUrl}/@{fontName}.svg#@{fontId}') format('svg');
    font-weight: @fontWeight;
    font-style: @fontStyle;
  }
}

//Logo font
.setFontFace('permanent_markerregular','permanent_markerregular');





