@font-face {
  font-family: 'permanent_markerregular';
  src: url('../assets/fonts/permanent_markerregular.eot');
  src: url('../assets/fonts/permanent_markerregular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/permanent_markerregular.woff') format('woff'), url('../assets/fonts/permanent_markerregular.ttf') format('truetype'), url('../assets/fonts/permanent_markerregular.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
