body {
  margin: 0;
  padding: 0;
  background: url("../assets/bg_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'permanent_markerregular', Arial;
}
body #myGameView {
  position: absolute;
  top: 0;
}
@font-face {
  font-family: 'permanent_markerregular';
  src: url('../assets/fonts/permanent_markerregular.eot');
  src: url('../assets/fonts/permanent_markerregular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/permanent_markerregular.woff') format('woff'), url('../assets/fonts/permanent_markerregular.ttf') format('truetype'), url('../assets/fonts/permanent_markerregular.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
