@defaultFont:'permanent_markerregular', Arial; ;

body {
	margin: 0;
	padding: 0;
  background: url("../assets/bg_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #myGameView{
    position: absolute;
    top:0;
  }
  font-family: @defaultFont;
}

@import "fonts";

